@charset "utf-8";
/*框架预览 CSS*/
*{padding:0; margin:0;}
.mkeBody{ background:#121212;}
.mkeHeadBox{ padding: 30px 10px; text-overflow: ellipsis; white-space: nowrap; margin: 0; color: #fff; text-align: center; overflow: hidden; border-bottom: 3px solid #666; box-shadow: inset 0 -2px 3px #000000; letter-spacing: 1px; font: 26px/26px "微软雅黑"; }
.mkeFooterBox{ padding: 25px 10px; text-overflow: ellipsis; margin: 0; color: #fff; font-size: 14px; line-height: 24px; text-align: center; overflow: hidden; border-top: 3px solid #666; box-shadow: inset 0 2px 3px #000000; }
.mkeContentBox{ background:#fff; padding:0}
.mkeContentBox:after{height:0; clear:both;}
.mkeFooterBox p,.mkeFooterBox div{padding:0; margin:0; line-height:26px; font-size:14px;}
.mkeFooterBox a{color:#fff; white-space:nowrap}
.mkeButton{background:#F36; display:inline-block; text-decoration:none; width:102px; border-radius:0.3em; transition:all 0.3s ease}
.mkeButton:hover{ background: #FF1550; }
.mkeURL{font-size:24px;}
.mkeFooterBox .mKeBannerAD{ width: 728px; height: 90px; margin: 18px auto 0; }
.mkeFooterBox .mSmallKeBannerAD{display:none;}
@media only screen and (max-width:900px){
.mkeButton {display:block; margin:8px auto 0;}
}
@media only screen and (max-width:767px){
.mkeHeadBox{font-size:18px; padding:15px 10px;}
.mkeFooterBox p,.mkeFooterBox div{ line-height:24px; font-size:12px;}
.mkeURL{font-size:22px;}
.mkeFooterBox .mKeBannerAD{display:none;}
.mkeFooterBox .mSmallKeBannerAD{width:300px; height:250px; margin:18px auto 0; display:block;}
}
/*End*/

/*主要CSS*/
/* top_slide_wrap */
#cover{
	width: 75%;
	height: 550px;
	position: absolute;
	z-index: 999999999999999999999999 !important;
	margin-left: 25%;
}
.top_slide_wrap{
	width:100%;
	height:550px;
	overflow:hidden;
	position:relative;
	z-index:1;
	background: url("../images/bg_.gif");


}
.top_slide_wrap_ditu{
	width: 25%;float: left;color: #14B9D7;position:absolute;top: 172px;left: 172px;
	z-index: 10;font-size: 20px;
	text-align: center;
	line-height: 38px;
	font-weight: bold;
}
.top_slide_wrap_ditu b{
	font-family: 'electronicFont';
	color: #14B9D7;
	font-weight: bold;
	font-size: 40px;
	text-shadow: 1px 1px rgba(197, 223, 248,0.8),

	2px 2px rgba(197, 223, 248,0.8),

	3px 3px rgba(197, 223, 248,0.8);
}